#root{
  width: 100%;
  height: 100%;
}
  .line-align-center{
  text-align: center;
}
#components-layout-demo-custom-trigger .trigger{
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}
.menu-label{
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
